.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.accDet-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin:auto;
}

.row-layout {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
}

.col-layout {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
}

.col-layout-justify-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.gray-bgColor {
  background-color: #eeeeee;
}
